<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="min-h-screen bg-gray-50">
        <!-- Sidebar -->
        <app-sidebar class="hidden md:block w-64 bg-white shadow-lg"></app-sidebar>

        <main class="ml-64 p-8">
            <!-- Header -->
            <div class="mb-8">
                <h1 class="text-2xl font-semibold text-gray-800">Bienvenido, Carlos Salas!</h1>

            </div>

        </main>

    </div>

</body>

</html>