/* Variables de color (ajusta según tu paleta) */
:root {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
}
/*  Clases de utilidad*/
.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.text-primary {
  color: var(--color-primary);
}