<div class="min-h-screen bg-gray-50">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <main class="ml-64 p-8">
    <!-- Header -->
    <div class="mb-8">
      <h1 class="text-2xl font-semibold text-gray-800">Bienvenido, Carlos Salas!</h1>

    </div>

    <!-- Position Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
      <button *ngFor="let tag of tags" (click)="selectProfile(tag)" [class.border-l-4]="selectedProfile === tag"
        [class.border-primary]="selectedProfile === tag"
        class="w-full bg-white rounded-lg shadow p-4 hover:bg-gray-100 transition-colors">
        <div class="flex items-center space-x-3">
          <div [class.bg-gray-150]="selectedProfile === tag" [class.text-primary]="selectedProfile === tag"
            class="h-10 w-10 rounded-full bg-gray-100 flex items-center justify-center">
            <svg class="h-6 w-6" [class.text-primary]="selectedProfile === tag"
              [class.text-gray-400]="selectedProfile !== tag" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>
          <span class="font-medium text-gray-900">{{ tag }}</span>
        </div>
      </button>
    </div>


    <!-- Modal -->
    <div *ngIf="showModal"
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50 overflow-y-auto">
      <div class="relative w-11/12 md:w-2/3 lg:w-1/2 bg-white rounded-2xl shadow-xl p-6 max-h-screen overflow-y-auto">
        <div class="text-center">
          <h2 class="text-2xl font-extrabold text-gray-900 mb-6">
            Perfiles para el tag: {{ selectedProfile }}
          </h2>
          <div *ngFor="let profile of profiles" class="mb-6">
            <h3 class="text-xl font-bold text-gray-700 mb-3">{{ profile.Tag }}</h3>
            <div *ngFor="let section of profile.Secciones" class="mb-4">
              <h4 class="text-lg font-semibold text-gray-600 border-b pb-2">{{ section.name }}</h4>
              <div *ngFor="let subsection of section.Subsecciones" class="mt-2">
                <h5 class="text-md font-medium text-gray-500">{{ subsection.name }}</h5>
                <ul class="list-disc list-inside text-gray-700 ml-4">
                  <li *ngFor="let value of subsection.values" class="py-1">
                    <span class="font-medium">{{ value.name }}</span>
                    <span class="text-gray-500"> (Ponderación: {{ value.ponderacion }})</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mt-6 sticky bottom-0 bg-white py-4">
            <button (click)="closeModal()"
              class="w-full md:w-1/2 py-3 bg-primary text-white font-bold rounded-lg shadow-md hover:bg-secundary transition duration-300 focus:outline-none focus:ring-2 focus:ring-red-300">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>






    <!-- Update Button -->
    <div class="flex justify-end mb-8">
      <button class="bg-primary text-white px-6 py-2 rounded-lg hover:bg-secundary transition-colors">
        Actualizar Candidatos
      </button>
    </div>


    <!-- Search Bar -->
    <!--
    <div class="relative mb-8">
      <input type="text" placeholder="Buscar Candidatos"
        class="w-full pl-12 pr-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-primary focus:border-transparent focus:outline-none">
      <svg class="absolute left-4 top-3.5 h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </div>
    -->

    <!-- Table -->
    <div class="bg-white rounded-lg shadow overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Candidatos</th>

            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Correo
              Electrónico</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Número Teléfono
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Aspiración
              Salarial</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let map of personalMaps" class="hover:bg-gray-50">
            <td class="px-6 py-4 whitespace-nowrap">{{ map.nombre_completo }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ map.correo }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ map.telefono }}</td>
            <td class="px-6 py-4 whitespace-nowrap">$ {{ map.aspiracion_salarial }}</td>
            <td class="px-6 py-4 whitespace-nowrap" routerLink="ver-pdf/{{ map._id }}">
              <button class="text-blue-600 hover:text-blue-900">Ver Pdf</button>
            </td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </main>
</div>